@model ACCDataStore.Web.Areas.DatahubProfile.ViewModels.Datahub.DatahubViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/datahubprofile/views/Indexdatahub/IndexdatahubProfile.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
}
@{
    ViewBag.Title = "Index";
}
<div id="main">
    <h2>Datahub Summary Statistics</h2>
    <h3>@Html.ActionLink("Interactive Map", "MapData", "IndexDatahub", new { Area = "DatahubProfile", sSchoolName = "" }, null)</h3>
    <h3>@Html.ActionLink("Interactive HeatMap", "HeatMapData", "IndexDatahub", new { Area = "DatahubProfile", sSchoolName = "" }, null)</h3>

    @using (Html.BeginForm("index", "IndexDatahub", new { area = "DatahubProfile" }))
    {
        <table border="0">
            <tr>
                <td align="center">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">Please Select School</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="200">School Name</td>
                                <td>@Html.DropDownListFor(m => m.selectedschoolcode, new SelectList(Model.ListSchoolNameData, "seedcode", "name"), "---Please Select School---")</td>
                                <td width="200"><input type="submit" name="schoolsubmitButton" value="Search" /></td>
                            </tr>
                            <tr>
                                <td width="200">Neighbourhoods Name</td>
                                <td>@Html.DropDownListFor(m => m.selectedneighbourhoods, new SelectList(Model.ListNeighbourhoodsName, "seedcode", "name"), "---Please Select Neighbourhoods---")</td>
                                <td width="200"><input type="submit" name="neighbourhoodssubmitButton" value="Search" /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    }
    <br/>

            @if (Model.SchoolData != null && Model.selectedschool != null && !Model.selectedschool.seedcode.Equals("100"))
            {
                <table>
                    <tr>
                        <th colspan="3">Opportunities for All Clients </th>
                    </tr>
                    <tr>
                        <th width="30%"></th>
                        <th width="25%">Percentage(%) <br /> @Model.selectedschool.name</th>
                        <th width="25%">Percentage(%) <br /> for All Clients</th>
                    </tr>
                    <tr>
                        <td align="left">All Clients</td>    
                        <td align="center">@Model.SchoolData.allpupils</td>    
                        <td align="center">@Model.AberdeencityData.allpupils</td>
                     </tr>
                    <tr>
                        <td align="left">Males</td>                                             
                        <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.allMalepupils))</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.allMalepupils))</td>                        
                    </tr>
                    <tr>
                        <td align="left">Females</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.allFemalepupils))</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.allFemalepupils))</td>                       
                     </tr>
                    <tr>
                        <td align="left">Pupils 16</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.all16pupils))</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all16pupils))</td>
                     </tr>
                    <tr>
                        <td align="left">Pupils 17</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.all17pupils))</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all17pupils))</td>
                    </tr>
                    <tr>
                        <td align="left">Pupils 18</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.all18pupils))</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all18pupils))</td>
                    </tr>
                    <tr>
                        <td align="left">Pupils 19</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.all19pupils))</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all19pupils))</td>
                    </tr>
                </table>

            }
            else { 

                <table>
                    <tr>
                        <th colspan="3">Opportunities for All Clients</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Pupils</th>
                        <th>Percentage(%) for All Clients</th>
                    </tr>
                  <tr>
                        <td>All Clients</td>
                        <td colspan="2" align="center">@Model.AberdeencityData.allpupils</td>
                    </tr>
                    <tr>
                        <td>Males</td>
                        <td align="center">@Model.AberdeencityData.allMalepupils</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.allMalepupils))</td>
                    </tr>
                    <tr>
                        <td>Females</td>
                        <td align="center">@Model.AberdeencityData.allFemalepupils</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.allFemalepupils))</td>
                    </tr>
                    <tr>
                        <td>Pupils 16</td>
                        <td align="center">@Model.AberdeencityData.all16pupils</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all16pupils))</td>
                    </tr>
                    <tr>
                        <td>Pupils 17</td>
                        <td align="center">@Model.AberdeencityData.all17pupils</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all17pupils))</td>
                    </tr>
                    <tr>
                        <td>Pupils 18</td>
                        <td align="center">@Model.AberdeencityData.all18pupils</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all18pupils))</td>
                    </tr>
                    <tr>
                        <td>Pupils 19</td>
                        <td align="center">@Model.AberdeencityData.all19pupils</td>
                        <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.all19pupils))</td>
                    </tr>
                </table>

            }


    <br />
                @if (Model.SchoolData != null && Model.selectedschool != null && !Model.selectedschool.seedcode.Equals("100"))
                {
                    <table>
                        <tr>
                            <th colspan="3">Current Positive Destinations</th>
                        </tr>
                        <tr>
                            <th width="30%"></th>
                            <th width="25%">Percentage(%) <br /> @Model.selectedschool.name</th>
                            <th width="25%">Percentage(%) <br /> for All Clients</th>
                        </tr>
                        <tr>
                            <td>School Pupils</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.schoolpupils))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.schoolpupils))</td>
                        </tr>
                        <tr>
                            <td>School Pupils In Trainsition</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.schoolpupilsintransition))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.schoolpupilsintransition))</td>
                        </tr>
                        <tr>
                            <td>Moved Outwith Scotland</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.schoolpupilsmovedoutinscotland))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.schoolpupilsmovedoutinscotland))</td>
                        </tr>
                        <tr>
                            <td>Activity Agreement</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinAtivityAgreement))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinAtivityAgreement))</td>
                        </tr>
                        <tr>
                            <td>Employability Fund Stage 2</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinEmployFundSt2))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEmployFundSt2))</td>
                        </tr>
                        <tr>
                            <td>Employability Fund Stage 3</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinEmployFundSt3))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEmployFundSt3))</td>
                        </tr>
                        <tr>
                            <td>Employability Fund Stage 4</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinEmployFundSt4))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEmployFundSt4))</td>
                        </tr>
                        <tr>
                            <td>Full Time Employment</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinFullTimeEmployed))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinFullTimeEmployed))</td>
                        </tr>
                        <tr>
                            <td>Further Education</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinFurtherEdu))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinFurtherEdu))</td>
                        </tr>
                        <tr>
                            <td>Higher Education</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinHigherEdu))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinHigherEdu))</td>
                        </tr>
                        <tr>
                            <td>Modern Apprenticeship</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinModernApprenship))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinModernApprenship))</td>
                        </tr>
                        <tr>
                            <td>Part Time Employment</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinPartTimeEmployed))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinPartTimeEmployed))</td>
                        </tr>
                        <tr>
                            <td>Personal/ Skills Development</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinPersonalSkillDevelopment))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinPersonalSkillDevelopment))</td>
                        </tr>
                        <tr>
                            <td>Self-Employed</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinSelfEmployed))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinSelfEmployed))</td>
                        </tr>
                        <tr>
                            <td>Training (Non NTP)</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinTraining))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinTraining))</td>
                        </tr>
                        <tr>
                            <td>Voluntary Work</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinVolunteerWork))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinVolunteerWork))</td>
                        </tr>
                    </table>

            }
            else
            {

                    <table>
                        <tr>
                            <th colspan="3">Current Positive Destinations</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Pupils</th>
                            <th>Percentage(%) for All Clients</th>
                        </tr>
                        <tr>
                            <td>School Pupils</td>
                            <td align="center">@Model.AberdeencityData.schoolpupils</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.schoolpupils))</td>
                        </tr>
                        <tr>
                            <td>School Pupils In Trainsition</td>
                            <td align="center">@Model.AberdeencityData.schoolpupilsintransition</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.schoolpupilsintransition))</td>
                        </tr>
                        <tr>
                            <td>Moved Outwith Scotland</td>
                            <td align="center">@Model.AberdeencityData.schoolpupilsmovedoutinscotland</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.schoolpupilsmovedoutinscotland))</td>
                        </tr>
                        <tr>
                            <td>Activity Agreement</td>
                            <td align="center">@Model.AberdeencityData.pupilsinAtivityAgreement</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinAtivityAgreement))</td>
                        </tr>
                        <tr>
                            <td>Employability Fund Stage 2</td>
                            <td align="center">@Model.AberdeencityData.pupilsinEmployFundSt2</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEmployFundSt2))</td>
                        </tr>
                        <tr>
                            <td>Employability Fund Stage 3</td>
                            <td align="center">@Model.AberdeencityData.pupilsinEmployFundSt3</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEmployFundSt3))</td>
                        </tr>
                        @*<tr>
                            <td>Employability Fund Stage 4</td>
                            <td align="center">@Model.AberdeencityData.pupilsinEmployFundSt4</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEmployFundSt4))</td>
                        </tr>*@
                        <tr>
                            <td>Full Time Employment</td>
                            <td align="center">@Model.AberdeencityData.pupilsinFullTimeEmployed</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinFullTimeEmployed))</td>
                        </tr>
                        <tr>
                            <td>Further Education</td>
                            <td align="center">@Model.AberdeencityData.pupilsinFurtherEdu</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinFurtherEdu))</td>
                        </tr>
                        <tr>
                            <td>Higher Education</td>
                            <td align="center">@Model.AberdeencityData.pupilsinHigherEdu</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinHigherEdu))</td>
                        </tr>
                        <tr>
                            <td>Modern Apprenticeship</td>
                            <td align="center">@Model.AberdeencityData.pupilsinModernApprenship</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinModernApprenship))</td>
                        </tr>
                        <tr>
                            <td>Part Time Employment</td>
                            <td align="center">@Model.AberdeencityData.pupilsinPartTimeEmployed</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinPartTimeEmployed))</td>
                        </tr>
                        <tr>
                            <td>Personal/ Skills Development</td>
                            <td align="center">@Model.AberdeencityData.pupilsinPersonalSkillDevelopment</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinPersonalSkillDevelopment))</td>
                        </tr>
                        @*<tr>
                            <td>Self-Employed</td>
                            <td align="center">@Model.AberdeencityData.pupilsinSelfEmployed</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinSelfEmployed))</td>
                        </tr>*@
                        <tr>
                            <td>Training (Non NTP)</td>
                            <td align="center">@Model.AberdeencityData.pupilsinTraining</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinTraining))</td>
                        </tr>
                        <tr>
                            <td>Voluntary Work</td>
                            <td align="center">@Model.AberdeencityData.pupilsinVolunteerWork</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinVolunteerWork))</td>
                        </tr>
                    </table>

            }



    <br />

   
            @if (Model.SchoolData != null && Model.selectedschool != null && !Model.selectedschool.seedcode.Equals("100"))
            {
                    <table>
                        <tr>
                            <th colspan="3">Non Positive Destinations</th>
                        </tr>
                        <tr>
                            <th width="30%"></th>
                            <th width="25%">Percentage(%) <br /> @Model.selectedschool.name</th>
                            <th width="25%">Percentage(%) <br /> for All Clients</th>
                        </tr>
                        <tr>
                            <td>Average Weeks Since Last Positive Destination</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.AvgWeekssinceLastPositiveDestination)</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.AvgWeekssinceLastPositiveDestination)</td>
                        </tr>
                        <tr>
                            <td>Custody</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinCustody))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinCustody))</td>
                        </tr>
                        <tr>
                            <td>Economically Inactive</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinEconomically))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEconomically))</td>
                        </tr>
                        <tr>
                            <td>Unavailable-ill Health</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinUnavailableillHealth))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinUnavailableillHealth))</td>
                        </tr>
                        <tr>
                            <td>Unemployed</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinUnemployed))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinUnemployed))</td>
                        </tr>
                        <tr>
                            <td>Unknown</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.SchoolData.Percentage(@Model.SchoolData.pupilsinUnknown))</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinUnknown))</td>
                        </tr>
                    </table>

            }
            else
            {
                    <table>
                        <tr>
                            <th colspan="3">Non Positive Destinations</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Pupils</th>
                            <th>Percentage (%) for All Clients</th>
                        </tr>
                        <tr>
                            <td>Average Weeks Since Last Positive Destination</td>
                            <td colspan="2" align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.AvgWeekssinceLastPositiveDestination)</td>
                        </tr>
                        <tr>
                            <td>Custody</td>
                            <td align="center">@Model.AberdeencityData.pupilsinCustody</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinCustody))</td>
                        </tr>
                        <tr>
                            <td>Economically Inactive</td>
                            <td align="center">@Model.AberdeencityData.pupilsinEconomically</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinEconomically))</td>
                        </tr>
                        <tr>
                            <td>Unavailable-ill Health</td>
                            <td align="center">@Model.AberdeencityData.pupilsinUnavailableillHealth</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinUnavailableillHealth))</td>
                        </tr>
                        <tr>
                            <td>Unemployed</td>
                            <td align="center">@Model.AberdeencityData.pupilsinUnemployed</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinUnemployed))</td>
                        </tr>
                        <tr>
                            <td>Unknown</td>
                            <td align="center">@Model.AberdeencityData.pupilsinUnknown</td>
                            <td align="center">@String.Format("{0:#,0.00}", @Model.AberdeencityData.Percentage(@Model.AberdeencityData.pupilsinUnknown))</td>
                        </tr>
                    </table>

            }

 
</div>

<div id="divChartContainer"></div>
