@model ACCDataStore.Web.Areas.DatahubProfile.ViewModels.Datahub.DatahubViewModel
@section Header {
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/highcharts.js"></script>
    @*<link rel="stylesheet" href="~/Content/accdatastore/areas/DatahubProfile/views/datahub/datahub.css" type="text/css" />*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/datahubprofile/views/Indexdatahub/IndexdatahubProfile.js"></script>
    @*<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>*@
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
}
@{
    ViewBag.Title = "Pupilslist";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">@Model.selectedschool.name</h3>
                    </div>
                    <div class="panel-body">
                        <table id="datatable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="8" >@Model.levercategory</th>
                                    <th align="left">
                                        <a href='@Url.Action("ExportExcel", "IndexDatahub", new {  dataname = "All Clients" })'><button>Export to Excel</button></a>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center">SDS Client Ref</th>
                                    <th class="text-center">Name </th>
                                    <th class="text-center">Age</th>
                                    <th class="text-center">D.O.B</th>
                                    <th class="text-center">Gender</th>
                                    <th class="text-center">School</th>
                                    <th class="text-center">SCN</th>
                                    <th class="text-center">Tel. Number</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Listpupils)
                                {
                                    <tr>
                                        <td class="text-left">@item.SDS_Client_Ref</td>
                                        <td class="text-left">@{var name = item.Forename + " " + item.Surname;} @name</td>
                                        <td class="text-center">@item.Age</td>
                                        <td class="text-center">@item.Date_of_Birth</td>
                                        <td class="text-center">@item.Gender</td>
                                        <td class="text-left">@item.School_Name</td>
                                        <td class="text-center">@item.Scottish_Candidate_Number</td>
                                        <td class="text-center">@item.Telephone_Number</td>
                                        <td class="text-center"><a href='@Url.Action("Getpupilsdetails", "IndexDatahub", new { pupil = item.SDS_Client_Ref })'><button>Full Details</button></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <script type="text/javascript">
                        // Put your javascript code here
                        $('#datatable').DataTable({
                            paging: false,
                            "aaSorting": [[1, "asc"]] //order by Name
                        });
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
