@model ACCDataStore.Web.Areas.InsightProfile.ViewModels.BenchmarkMeasure.BenchmarkMeasureViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/insightprofile/views/benchmarkmeasure/IndexLeaver.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
}
@{
    ViewBag.Title = "Index";
}

@*<div id="main">*@
    <h2>National Benchmarking Measure: Leaver Initial Destination</h2>
    @using (Html.BeginForm("GetIndexLeaverDestination", "BenchmarkMeasure",FormMethod.Post, new { area = "InsightProfile" , model = @Model}))
    {
        <table>
            <thead>
                <tr>
                    <th colspan="2">Please Select Criteria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="200">School Name</td>
                    <td>@Html.DropDownListFor(m => m.selectedschoolcode, new SelectList(Model.ListSchoolNameData, "seedcode", "name"))</td>
                </tr>

                <tr>
                    <td colspan="2">Gender</td>
                </tr>

    @* Display Gender *@
    @for (int i = 0; i < Model.ListGenderData.Count(); i++)
    {
        <tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.ListGenderData[i].isSelected, new { id = "gender_" + i })
                @Html.HiddenFor(m => m.ListGenderData[i].gendercode)
                @Html.DisplayFor(m => m.ListGenderData[i].name)
            </td>
        </tr>
    }
                <tr>
                    <td colspan="2">
                        <button id="buttonGetData" type="submit">
                            Get Data
                        </button>
                    </td>
                </tr>
                @*<tr><td colspan="2"><button onclick='Getdestinationbreakdown()'><label>Get Destination Breakdown</label></button></td></tr>*@
    </tbody>
        </table>
    }

<br />
@if (Model.ListLeaverDestinationData!=null) {
    <h2 style="text-align: center">@Model.selectedschoolcode</h2>
    <h2 style="text-align: center">% of Schools Leavers in a Positive Destination</h2>
    <br />
    <form id="LeaverDestinationData">
        <table id="datatable" class="display">
            <thead>
                <tr>
                    <th></th>                  
                    <th>Academic Year</th>
                    @foreach (var gender in Model.ListGenderData)
                        {
                            if (gender.isSelected) { 
                                <th>@gender.name</th>
                            }
                        }
                    
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.ListLeaverDestinationData)
                {
                    <tr>
                        <td align="left">@item.centrename</td>  
                        <td align="center">@item.academicyear</td>    

                        @foreach (var selection in Model.ListGenderData)
                        {
                            if (selection.gendercode == 2 && selection.isSelected)
                            {
                                <td align="center">@String.Format("{0:#,0.00}", @item.PercentageFeMale)</td>
                            }
                            if (selection.gendercode == 1 && selection.isSelected)
                            {
                                <td align="center">@String.Format("{0:#,0.00}", @item.PercentageMale)</td>

                            }
                            if (selection.gendercode == 0 && selection.isSelected)
                            {
                                <td align="center">@String.Format("{0:#,0.00}", @item.PercentageAll)</td>

                            }
                        }

                    </tr>
                }
                <tr><td><button id="1" onclick='myChartFunction(this.id, "BarChart")'><label>Bar Chart</label></button></td></tr>
                <tr><td><button id="2" onclick='myChartFunction(this.id, "ColumnChart")'><label>Column Chart</label></button></td></tr>
                <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "BenchmarkMeasure", new { Area = "InsightProfile", sSchoolName = "" }, null)</td></tr>
                <tr><td>@Html.ActionLink("Interactive Map", "MapData", "BenchmarkMeasure", new { Area = "InsightProfile", sSchoolName = "" }, null)</td></tr>

            </tbody>
      </table>
        <script type="text/javascript">
            // Put your javascript code here
            $('#datatable').DataTable({
                paging: false
            });
        </script>
        <br />
        <div id="divChartContainer"></div>
    </form>

}