@model ACCDataStore.Web.Areas.InsightProfile.ViewModels.BenchmarkMeasure.BenchmarkMeasureViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/insightprofile/views/benchmarkmeasure/IndexLeaver.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
}
@{
    ViewBag.Title = "Index";
}

@*<div id="main">*@
    <h2>National Benchmarking Measure: Breakdown by Destination</h2>
    @*@using (Html.BeginForm("GetIndexLeaverDestination", "BenchmarkMeasure",FormMethod.Post, new { area = "InsightProfile" , model = @Model}))
    {*@
        <table>
            <thead>
                <tr>
                    <th colspan="2">Please Select Criteria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="200">School Name</td>
                    <td>@Html.DropDownListFor(m => m.selectedschoolcode, new SelectList(Model.ListSchoolNameData, "seedcode", "name"))</td>
                </tr>

                <tr>
                    <td colspan="2">Gender</td>
                </tr>

    @* Display Gender *@
    @for (int i = 0; i < Model.ListGenderData.Count(); i++)
    {
        <tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.ListGenderData[i].isSelected, new { id = "gender_" + i })
                @Html.HiddenFor(m => m.ListGenderData[i].gendercode)
                @Html.DisplayFor(m => m.ListGenderData[i].name)
            </td>
        </tr>
    }
                <tr>
                    <td colspan="2">
                        <button id="buttonGetData" type="submit">
                            Get Data
                        </button>
                    </td>
                </tr>
                <tr>
                    <td width="200">Year</td>
                    <td>@Html.DropDownListFor(x => x.selectedyear, new SelectList(Model.ListYearData, "year", "academicyear"))</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button onclick='myFunctionColumn()'><label>Get Chart</label></button>
                    </td>
                </tr>

    </tbody>
        </table>








  



