 
@section Header {
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>   
}
@{
    //SchoolProfile
    ViewBag.Title = "Home";
}

<body>
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="@Url.Content("~/Images/schoolprofile.png")" alt="">
            </a>
        </div>
        <div class="col-md-9">
            <h2>School Profiles</h2>
            <p class="text-justify">
                These profiles are a summary of the information that is available for each school in Aberdeen City. They contain attainment data, attendance, exclusions, violent incidents, costs, roll and census data but much more and they also contain links to related websites such as related Scottish Government publications, HMIE reports and school websites.
            </p>
            <p>
                The profiles are intended for internal use for performance management and quality assurance purposes.
            </p>
            <p>
                Profiles include: 
            </p>
            <p>
                <ul>
                    <li>
                        <a href="@Url.Action("IndexPrimaryProfiles", "IndexSchoolProfiles", new { Area = "SchoolProfiles", sSchoolType = "2" }, null)">Primary Schools</a>
                    </li>
                    <li>
                        <a href="@Url.Action("IndexSecondaryProfiles", "IndexSchoolProfiles", new { Area = "SchoolProfiles", sSchoolType = "3" }, null)">Secondary Schools</a>
                    </li>
                </ul>
            </p>

            <p>

            </p>
            <p>
                If you have any queries regarding the data, please contact 
            </p>
            <p>
                Hataichanok Saevanee
            </p>
            <p>
                 
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:HSaevanee@aberdeencity.gov.uk">HSaevanee@aberdeencity.gov.uk</a>

            </p>
        </div>
    </div>

        @*<div class="row">
            <div class="col-md-12">
                <h2>Wider Achievement Framework Data 2013 - 2015</h2>
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="text-align: center"> Wider Achievement Framework Data 2013 - 2015</h4>
                    </div>
                    <div class="panel-body">
                        <table id="WiderAchievementdatatable" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center"></th>
                                    <th colspan="3" class="text-center">Citywide Totals</th>
                                </tr>

                                <tr>
                                    <th class="text-center">Age Range</th>
                                    <th class="text-center">Awardname</th>
                                    <th class="text-center"> 2013-2014</th>
                                    <th class="text-center"> 2014-2015</th>
                                    <th class="text-center"> 2015-2016</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListWiderAchievementData)
                                {
                                    <tr>
                                        <td class="text-left">@item.age_range</td>
                                        <td class="text-left">@item.awardname</td>
                                        <td class="text-center">@item.award2013</td>
                                        <td class="text-center">@item.award2014</td>
                                        <td class="text-center">@item.award2015</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>row*@
    </div> <!--container-->
</body>