@model ACCDataStore.Web.Areas.SchoolProfiles.ViewModels.SchoolProfiles.IndexSecondarySchoolProfilesViewModel
@using System.Data;
 
@section Header {
    @*<link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />*@
    @*<script src="~/Scripts/accdatastore/areas/schoolprofile/views/IndexSchoolProfile/Index2SchoolProfile.js"></script>*@
<script src="~/Scripts/highcharts.js"></script>

<!-- Bootstrap Multiselect Plugin -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />


}
@{
    ViewBag.Title = "Index";
}

<body>
    <!-- Page Content -->
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Select Secondary School</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("GetData", "IndexSchoolProfiles", new { area = "SchoolProfiles" }))
                            {
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="text-center">
                                            @Html.DropDownListFor(x => x.listSelectedSchoolname, new MultiSelectList(Model.listSchoolname, "seedcode", "name"), new { Multiple = "multiple" })
                                        </td>
                                    </tr>
                                </table>
                                <p><button id="buttonGetData" type="submit" class="btn btn-primary">Get Data!</button></p>

                            }
                                    @*<td>@Html.DropDownListFor(x => x.listSelectedGender, Model.listGender.Select(x => new SelectListItem { Text = x.fullName, Value = x.id, Selected = x.selected}), new { Multiple = "multiple" })</td>*@

</div>
                        </div>
                    </div>
                </div>

        <!-- Initialize the plugin: -->
        <script type="text/javascript">
    $(document).ready(function () {
        $('#listSelectedSchoolname').multiselect({
            buttonWidth: '80%',
            nonSelectedText: '--- School Name ---',
            maxHeight: 200,
            enableFiltering: true,
            numberDisplayed: 3,
            onChange: function (option, checked) {
                // Get selected options.
                var selectedOptions = $('#listSelectedSchoolname option:selected');

                if (selectedOptions.length >= 3) {
                    // Disable all other checkboxes.
                    var nonSelectedOptions = $('#listSelectedSchoolname option').filter(function () {
                        return !$(this).is(':selected');
                    });

                    var dropdown = $('listSelectedSchoolname').siblings('.multiselect-container');
                    nonSelectedOptions.each(function () {
                        var input = $('input[value="' + $(this).val() + '"]');
                        input.prop('disabled', true);
                        input.parent('li').addClass('disabled');
                    });
                }
                else {
                    // Enable all checkboxes.
                    var dropdown = $('#listSelectedSchoolname').siblings('.multiselect-container');
                    $('#listSelectedSchoolname option').each(function () {
                        var input = $('input[value="' + $(this).val() + '"]');
                        input.prop('disabled', false);
                        input.parent('li').addClass('disabled');
                    });
                }
            }
        });
    });
        </script>

            <hr>
            <!-- Content Row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary text-center">
                        <div class="panel-heading">
                            <h4 class="panel-title" > <a onclick="goToCreateURL(this)" href="@Url.Content("~")SchoolProfile/Nationality/Index/">Nationality</a></h4>
                        </div>
                        <div class="panel-body">
                                <p>% of pupils of each nationality</p>
                                @*<table id="Nationalitydatatable" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            @foreach (DataColumn col in Model.nationalityData.Columns)
                                            {
                                                <th>@col.ColumnName</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                             @foreach (DataRow row in Model.nationalityData.Rows)
                                             {
                                                <tr>
                                                    @foreach (DataColumn col in Model.nationalityData.Columns)
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }
                                                </tr>
                                             }

                                    </tbody>
                                </table>*@
                                <p>*In 2011  the Scottish Government introduced a new code list for Nationality, hence the historic data is not comparable.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

