@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.Nationality.NationalityViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/Nationality/Nationality.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>@Model.selectedschoolname</h2>

<h2>Nationality - Primary School (%pupils)</h2>
@if (Model.IsShowCriteria)
{
   using (Html.BeginForm("Index", "Nationality", new { area = "SchoolProfile" }))
    {
        <table>
            <tr>
                <th colspan="2">Please select Criteria</th>
            </tr>
            <tr>
                <td colspan="2">Select school name </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.DropDownList("selectSchoolname", new SelectList(Model.ListSchoolNameData, "----Select------"))</td>
            </tr>
            <tr>
                <td colspan="2">Select Natioanlity </td>
            </tr>
            @foreach (var itemNational in Model.ListNationalCode)
                {
                    if (Model.DicNational.ContainsKey(itemNational))
                    {
                        <tr>
                            <td></td>
                            <td>
                                <input type="checkbox" name="nationality" value="@itemNational"
                                       checked="checked" /> @Model.DicNational[itemNational]
                            </td>
                        </tr>
                    }
                }
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckNationalityAll"
                           value="ALL" id="ChecknatioNalityAll" checked="checked" />CheckALL
                </td>

            </tr>
            <tr>
                <td>
                    <button id="buttonGetData" type="submit">
                        Get Data
                    </button>
                </td>
            </tr>


        </table>
}
}
@if (Model.ListNationalityData != null)
{
    <br />
    <form id="Ethnicdata">
        <table>
            <tr>
                <th></th>
                <th>@Model.selectedschoolname</th>
                <th>All Primary Schools</th>
                <th>Select data </th>
            </tr>
            @foreach (var itemNational in Model.ListNationalityData)
            {
                <tr>
                    <td>@Model.DicNational[itemNational.IdentityCode]</td>
                    <td>@itemNational.PercentageInSchool</td>
                    <td>@itemNational.PercentageAllSchool</td>
                    <td><input type='checkbox' name='CheckDataitem' value="@itemNational.IdentityCode" checked="checked" /></td>
                </tr>

            }
            <tr>
                <td colspan="3"></td>
                <td><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
            </tr>
            <tr><td><button onclick='myFunctionBar()'><label>Bar Chart</label></button></td></tr>
            <tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
        </table>
        <div id="divChartContainer"></div>
        <p>
            Source: Pupil Census <br> *In 2011 the Scottish Government
            introduced a new code list for Ethnicity, hence the historic data is
            not comparable
        </p>
    </form>
}
