@model ACCDataStore.Web.Areas.SchoolRollForecast.ViewModels.SchoolRollForecastViewModel
@section Header {
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
}
@{
    //Wider Achievement
    ViewBag.Title = "Index";
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>School Roll Forecast</h2>
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center"> Please Select Criteria</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "IndexSchoolRollForecast", new { area = "SchoolRollForecast" }))
                        {
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td width="200" class="text-left ">School Name and (Associated Academy)</td>
                                        <td class="text-left">@Html.DropDownListFor(m => m.selectedschoolname, new SelectList(Model.listSchoolname, "name", "seedcode"))</td>
                                        <td width="200"><input class="btn btn-primary btn-lg" type="submit" name="schoolsubmitButton" value="Search" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div><!--row-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary text-center">
                    <div class="panel-body">
                        @using (Html.BeginForm("Calculate", "IndexSchoolRollForecast", new { area = "SchoolRollForecast" }))
                        {
                            <table class="table table-bordered">
                                @*<thead>*@
                                @*<tr>
                                        <th colspan="1">Bon Accord</th>
                                        <th colspan="5">Actual</th>
                                        <th colspan="7">Forecast</th>

                                    </tr>*@
                                <tr>
                                    <td width="5%"></td>
                                    <td><strong>2012</strong></td>
                                    <td><strong>2013</strong></td>
                                    <td><strong>2014</strong></td>
                                    <td><strong>2015</strong></td>
                                    <td><strong>2016</strong></td>
                                    <td><strong>2017</strong></td>
                                    <td><strong>2018</strong></td>
                                    <td><strong>2019</strong></td>
                                    <td><strong>2020</strong></td>
                                    <td><strong>2021</strong></td>
                                    <td><strong>2022</strong></td>
                                    <td><strong>2023</strong></td>
                                </tr>
                                @*</thead>*@
                                <tbody>
                                    <tr>
                                        <td><strong>P1 Input</strong></td>
                                        @foreach (double data in Model.schObj.ListP1Input)
                                        {
                                            <td><input class="text-primary" name="P1Input" type="text" value="@String.Format("{0:#,0.00}", @data)" size="13" /></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>Pupils/Hhld</strong></td>
                                        @foreach (double data in Model.schObj.ListPupilsHhld)
                                        {
                                            <td><input class="text-primary" name="Pupils/Hhld" type="text" value="@String.Format("{0:#,0.00}", @data)" size="13" /></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>Housing</strong></td>
                                        @foreach (double data in Model.schObj.ListHousing)
                                        {
                                            <td><input class="text-primary" name="housing" type="text" value="@String.Format("{0:#,0.00}", @data)" size="13"></td>
                                        }
                                    </tr>
                                    <tr dir="auto">
                                        <td><strong>Parents Charter</strong></td>
                                        @foreach (double data in Model.schObj.ListParentsCharter)
                                        {
                                            <td><input class="text-primary" name="ParentsCharter" type="text" value="@String.Format("{0:#,0.00}", @data)" size="13" /></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>P1</strong></td>
                                        @foreach (double data in Model.schObj.ListP1)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>P2</strong></td>
                                        @foreach (double data in Model.schObj.ListP2)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>P3</strong></td>
                                        @foreach (double data in Model.schObj.ListP3)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>P4</strong></td>
                                        @foreach (double data in Model.schObj.ListP4)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>P5</strong></td>
                                        @foreach (double data in Model.schObj.ListP5)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>P6</strong></td>
                                        @foreach (double data in Model.schObj.ListP6)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>P7</strong></td>
                                        @foreach (double data in Model.schObj.ListP7)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr dir="rtl">
                                        <td><strong>Total Roll</strong></td>
                                        @foreach (double data in Model.schObj.ListTotalRoll)
                                        {
                                            <td>@String.Format("{0:#,0}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>Max Capacity</strong></td>
                                        @foreach (double data in Model.schObj.ListMaxCap)
                                        {
                                            <td>@String.Format("{0:#,0.00}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>Total Roll - Funct Work Cap</strong></td>
                                        @foreach (double data in Model.schObj.ListTotRollFunctWCap)
                                        {
                                            <td>@String.Format("{0:#,0.00}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><strong>Total Roll/Funct Work Cap%</strong></td>
                                        @foreach (double data in Model.schObj.ListTotRollFunctWCapPer)
                                        {
                                            <td>@String.Format("{0:#,0.00}", @data)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td colspan="13" align="right">
                                            <input type="submit" class="btn btn-primary btn-lg" name="calculateButton" value="Calculate" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        }
                    </div>
                </div>
            </div>
        </div>

    </div> <!--container-->
</body>