@model ACCDataStore.Web.Areas.ScrumHub.Models.ScrumViewModel
@using System.Reflection
@{
    ViewBag.Title = "ScrumIndex";
}

<h2>ScrumIndex</h2>

@*<div style="border: 1px solid red;">
    <h3>Old content</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        @foreach (var barb in Model.scrumlist)
        {
            <tr>
                <td>@barb.id</td>
                <td>@barb.firstname</td>
                <td>@barb.lastname</td>
                <td>@barb.age</td>
            </tr>
        }
    </table>

    
    <table>
        <tr>
            <th>ID</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Coordinator</th>
        </tr>
        @foreach (var course in Model.ListCourses)
        {
            <tr>
                <td>@course.id</td>
                <td>@course.course_code</td>
                <td>@course.course_title</td>
                <td>@course.coordinator</td>
            </tr>
        }

    </table>

    <table>
        <tr>
            c
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Coordinator</th>
        </tr>
        @foreach (var course in Model.joined)
        {
            <tr>
                <td>@course.id</td>
                <td>@course.firstname</td>
                <td>@course.lastname</td>
                <td>@course.age</td>
                <td>@course.course_code</td>
                <td>@course.course_title</td>
                <td>@course.coordinator</td>
            </tr>
        }

    </table>

    <table>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Course Code</th>
        </tr>
        @foreach (var course in Model.joined)
        {
            <tr>
                <td>@course.id</td>
                <td>@course.firstname</td>
                <td>@course.lastname</td>
                <td>@course.age</td>
                <td>@course.course_code</td>
            </tr>
        }

    </table>
</div>*@

<form role="form" action="/ScrumHub/ScrumHub/Form1">
    <div class="form-group">
        <label for="table1">select properties of scrumtable</label>
        <select multiple class="form-control" id="table1" name="table1">
            @foreach (var prop in @Model.Meta1.GetType().GetProperties())
            {
                <option>@prop.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="table2">select properties of scrum course model</label>
        <select multiple class="form-control" id="table2" name="table2">
            @foreach (var prop in @Model.Meta2.GetType().GetProperties())
            {
                <option>@prop.Name</option>
            }
        </select>
    </div>
    <input type= "submit" value= "Submit">
</form>

@if (Model.paramlist != null && Model.paramlist.Count > 0 && Model.joined != null && Model.joined.Count > 0) 
{ 
    <table>
        <tr>
            @foreach (string heading in Model.paramlist) 
            {
                <th>
                    @heading
                </th>
            }
        </tr>
        @foreach (var record in Model.joined) 
        { 
        <tr>
            @foreach (PropertyInfo prop in record.GetType().GetProperties())
            {
                if (Model.paramlist.Contains(prop.Name)) 
                { 
                    <td>
                        @prop.GetValue(record)
                    </td>
                }
            }
        </tr>
        }
    </table>
    
   

} 

<button type="button" class="btn btn-default" onclick="getScrumChart()">Get Chart</button>
<div id="chart1">

</div>