@model ACCDataStore.Web.Areas.Authorisation.ViewModels.IndexViewModel
@using System.Data;
 
@section Header {
    @*<link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />*@
    @*<script src="~/Scripts/accdatastore/areas/schoolprofile/views/IndexSchoolProfile/Index2SchoolProfile.js"></script>*@
<script src="~/Scripts/highcharts.js"></script>

<!-- Bootstrap Multiselect Plugin -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />


}
@{
    ViewBag.Title = "Index";
}

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Login
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Index", new {  Area = "" ,id = "" }, null)">Home</a>
                    </li>
                    <li class="active">Login</li>
                </ol>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 ">
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Model.ApplicationName&nbsp;&nbsp;<span style="font-size:9px;">@Model.ApplicationVersion</span></h3>
                        </div>
                        <div class="panel-body">
                             @using (Html.BeginForm("Login", "IndexAuthorisation", new { area = "Authorisation" }))
                             {
                                <div id="divLogin">
                                    <div class="login">
                                        @Html.ValidationMessage("ResultMessage")
                                        <p>
                                            @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username" })
                                        </p>
                                        <p>
                                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                                        </p>
                                        <p class="submit">
                                            <input type="submit" value="Login" />
                                        </p>
                                    </div>
                                </div>
                             }

                        </div>
                     </div>
                    </div>
                </div>
        </div>
    </body>

