@section Header {
    <!-- jQuery -->
<script src="~/Scripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>
        img {
            width: 220px;
            height: 180px;      
        }

        .top-buffer { margin-top:20px; }

    </style>
}

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        @*<header class="jumbotron hero-spacer">
            <h1>Welcome!</h1>
            <p style="text-align:justify">
                to Aberdeen data Observatory Project.
                This website pulls together up-to-date information as the Digital Data Observatory Project for Aberdeen City Council.
                The aim of this project is to provide an easy access to a wide range of information collected from local data source and can be analysed for enhanced decision-making based on a robust evidence based for decision makers.
            </p>

            <p align="center" style="color:blue">
                This site is a work in progress. We have released early, but good enough for you to start using day-to-day.<br>
                Each time you come back you might see new features.<br>
                You can help us by suggesting ideas/features that would help you in your work.<br>
            </p>
            <p align="center">
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="mailto:HSaevanee@aberdeencity.gov.uk">HSaevanee@aberdeencity.gov.uk</a>
            </p>
        </header>*@
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Updates</h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Features -->
        <div class="row text-center">
            <div class="col-md-3 text-center">
                <div class="img-rounded">
                    <a href="@Url.Action("Index", "IndexSchoolProfiles", new { Area = "SchoolProfiles" }, null)">
                    <img src="@Url.Content("~/Images/WIP.jpg")" alt="School Profile logo">
                    </a>
                                     
                </div>
                <div class="caption">
                    <h4><a href="@Url.Action("Index", "IndexSchoolProfiles", new { Area = "SchoolProfiles" }, null)">School Profiles</a></h4>
                </div>              
            </div>          
            <div class="col-md-3 text-center">
                
                <div class="caption">
                    <a href="@Url.Action("IndexHome", "IndexDatahub", new { Area = "DatahubProfile" }, null)">
                        <img src="@Url.Content("~/Images/Aberdeen  Gaurtees logo.png")" alt="Aberdeen Gaurtees logo">
                        DataHub Data
                    </a>

                </div>
            </div>           
        </div>
        <!-- /.row -->
        <hr />
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Resources</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 text-center">
                <div class="img-rounded">                   
                    <a href="http://communityplanningaberdeen.org.uk/ " target="_blank"><img src="@Url.Content("~/Images/community_planning_aberdeen.png")" alt=""></a>
                </div>
                <div class="caption">
                    <h4><a href="http://communityplanningaberdeen.org.uk/ " target="_blank">Community Planning Aberdeen</a></h4>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-rounded">
                    <a href="@Url.Action("Index", "Index", new { Area = "", id = "education" }, null)"><img src="@Url.Content("~/Images/education.jpg")" )" alt=""></a>
                </div>
                <div class="caption">
                    <h4><a href="@Url.Action("Index", "Index", new { Area = "", id = "education" }, null)">Education</a></h4>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-rounded">
                    <a href="@Url.Action("Index", "Index", new { Area = "", id = "finance" }, null)"><img src="@Url.Content("~/Images/Finance.png")" alt=""></a>                 
                </div>
                <div class="caption">
                    <h4><a href="@Url.Action("Index", "Index", new { Area = "", id = "finance" }, null)">Finance</a></h4>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-rounded">
                    <a href="http://www.aberdeengettingitright.org.uk" target="_blank"><img src="@Url.Content("~/Images/pupils.jpg")" alt=""></a>
                </div>
                <div class="caption">
                    <h4><a href="http://www.aberdeengettingitright.org.uk" target="_blank">Integrated Children’s Services</a></h4>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12"><p></p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 text-center">
                <div class="img-rounded">
                    <a href="@Url.Action("Index", "Index", new { Area = "", id = "management" }, null)" target="_blank"><img src="@Url.Content("~/Images/management.jpg")" alt=""></a>
                </div>
                <div class="caption">
                    <h4><a href="@Url.Action("Index", "Index", new { Area = "", id = "management" }, null)" target="_blank" >Management</a></h4>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="img-rounded">
                    <a href="@Url.Action("Index", "Index", new { Area = "", id = "pandp" }, null)" target="_blank"><img src="@Url.Content("~/Images/Performance.jpg")" alt=""></a>
                    
                </div>
                <div class="caption">
                    <h4><a href="@Url.Action("Index", "Index", new { Area = "", id = "pandp" }, null)" target="_blank">Performance and Information</a></h4>
                </div>
            </div>
            
        </div>
        



    </div>

</body>

       



