@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.EthnicBackground.EthnicBgViewModel

@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/EthnicBackground/EthnicBackground.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

}
@{
    ViewBag.Title = "EthnicBackground";
}

<h2>@Model.selectedschoolname</h2>

<h2>EthnicBackground - Primary School (%pupils)</h2>
@if (Model.IsShowCriteria)
{
    using (Html.BeginForm("Index", "EthnicBackground", new { area = "SchoolProfile" }))
    {
        <table>
            <tr>
                <th colspan ="2">Please select Criteria</th>
            </tr>
            <tr>
                <td colspan="2">Select school name </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.DropDownList("selectSchoolname", new SelectList(Model.ListSchoolNameData, "----Select------"))</td>
            </tr>
            <tr>
                <td colspan="2">Select EthnicBackground </td>
            </tr>
                
                @foreach (var itemEthnic in Model.ListEthnicDefinition)
                {
                    if (Model.DicEthnicBG.ContainsKey(itemEthnic))
                    {
                         <tr><td></td>
                             <td>
                            <input type="checkbox" name="ethnicity" value="@itemEthnic"
                                   checked="checked" /> @Model.DicEthnicBG[itemEthnic]
                            </td>
                         </tr>
                    }
                }
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckEthnicityAll"
                           value="ALL" id="ChecknatioNalityAll" checked="checked" />CheckALL
                </td>

            </tr>
            <tr>
                <td>
                    <button id="buttonGetData" type="submit">
                        Get Data
                    </button>
                </td>
            </tr>


        </table>
    }
}
@if (Model.ListEthnicData != null)
{
    <br>
    <form id="Ethnicdata">
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>EthnicBackground</th>
                    <th>@Model.selectedschoolname</th>
                    <th>All Primary Schools</th>
                    <th>Select data </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemEthnic in Model.ListEthnicData)
                {
                    <tr>
                        <td>@Model.DicEthnicBG[itemEthnic.EthinicCode]</td>
                        <td>@String.Format("{0:#,0.000}",@itemEthnic.PercentageInSchool)</td>
                        <td>@String.Format("{0:#,0.000}",@itemEthnic.PercentageAllSchool)</td>
                        <td><input type='checkbox' name='CheckDataitem' value="@itemEthnic.EthinicCode" checked="checked" /></td>
                    </tr>

                }
            </tbody>
            <tr>
                <td colspan="3"></td>
                <td><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
            </tr>
            <tr><td><button onclick='myFunctionBar()'><label>Bar Chart</label></button></td></tr>
            <tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
            <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "EthnicBackground", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>
        </table>
        <script type="text/javascript">
            $('#datatable').DataTable();
        </script>

        <div id="divChartContainer"></div>
        <p>
            Source: Pupil Census <br> *In 2011 the Scottish Government
            introduced a new code list for Ethnicity, hence the historic data is
            not comparable
        </p>
    </form>
}

