@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.Curriculum.CurriculumViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/Curriculum/Curriculum.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>@Model.selectedschoolname</h2>

<h2>Curriculum for Excellence - Primary School (%pupils)</h2>

<h3>
    @Html.ActionLink("Interactive Map", "MapData", "Curriculum", new { Area = "SchoolProfile", sSchoolName = "" }, null)
</h3>


@if (Model.IsShowCriteria)
{
    using (Html.BeginForm("Index", "Curriculum", new { area = "SchoolProfile" }))
    {
        <table>
            <tr>
                <th colspan="2">Please select Criteria</th>
            </tr>
            <tr>
                <td colspan="2">Select school name </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.DropDownListFor(x => x.selectedschoolname, new SelectList(Model.ListSchoolNameData), "---Please Select School---")</td>
                @*<td>@Html.DropDownList("selectSchoolname", new SelectList(Model.ListSchoolNameData, "----Select------"))</td>*@
            </tr>
            <tr>
                <td colspan="2">Select Gender </td>
            </tr>

            @*@foreach (var itemGender in Model.ListGenderCode)
                {
                    if (Model.DicGender.ContainsKey(itemGender))
                    {
                        <tr>
                            <td></td>
                            <td>
                                <input type="checkbox" name="gender" value="@itemGender"
                                       checked="checked" /> @Model.DicGender[itemGender]
                                </td>
                            </tr>
                    }
                }*@
            @foreach (var itemGender in Model.ListGenderCode)
            {
                if (Model.DicGenderWithSelected.ContainsKey(itemGender))
                {
                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" name="gender" value="@itemGender"
                                   @Model.DicGenderWithSelected[itemGender][1] /> @Model.DicGenderWithSelected[itemGender][0]
                            </td>
                        </tr>
                }
            }            
            @{
                var check = "";
                if (Model.ListSelectedGender != null)
                {
                    if (Model.ListSelectedGender.Count == 3)
                    {
                        check = "checked";
                    }

                }
                else
                {
                    check = "checked";
                }
            }
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckGenderAll"
                           value="ALL" id="CheckGenderAll" @check />CheckALL
                </td>

            </tr>
            <tr>
                <td colspan="2">Select Subjects </td>
            </tr>
            @{
                foreach (var itemSubject in Model.ListSubjects)
                {
                    check = "";
                    if (Model.ListSelectedSubject != null)
                    {
                        if (Model.ListSelectedSubject.Contains(itemSubject))
                        {
                            check = "checked";
                        }

                    }
                    else
                    {
                        check = "checked";
                    }

                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" name="subject" value="@itemSubject"
                                   @check/> @Model.DicSubject[itemSubject]
                            </td>
                        </tr>
                }
            }
            @*@foreach (var itemStage in Model.ListStageCode)
            {
                <tr>
                    <td></td>
                    <td>
                        <input type="checkbox" name="stages" value="@itemStage"
                               checked="checked" /> @itemStage
                        </td>
                    </tr>
            }*@

            @{
                check = "";
                if (Model.ListSelectedSubject != null)
                {
                    if (Model.ListSelectedSubject.Count == 8)
                    {
                        check = "checked";
                    }

                }
                else
                {
                    check = "checked";
                }
            }


           <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckSubjectAll"
                           value="ALL" id="CheckSubjectAll" @check />CheckALL
                </td>

            </tr>
            <tr>
                <td>
                    <button id="buttonGetData" type="submit">
                        Get Data
                    </button>
                </td>
            </tr>


        </table>
    }
}
@if (Model.IsShowData)
{
    if (Model.ListLiteracydata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Literacy</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{  var temp = "";
                      foreach (var itemdata in Model.ListLiteracydata)
                      {
                          if (!temp.Equals(itemdata.stage))
                          {
                            <tr>
                                <td colspan="17">@itemdata.stage</td>
                                <td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>
                            </tr>
                              temp = itemdata.stage;
                          }
                          if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                          {
                              foreach (var selection in Model.ListSelectedGender)
                              {
                                  if (selection.Equals(itemdata.gender))
                                  {
                                        <tr>
                                            <td></td>
                                            <td align ="center">@Model.DicGender[itemdata.gender]</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                             <td></td>
                                            @*<td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>*@
                                        </tr>
                                  }
                                }
                            }
                        }
                    }
                               
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem1All' id='CheckDataitem1All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="1" onclick='myFunctionBar(this.id, "ListLiteracydata")'><label>Bar Chart</label></button></td>
                    <td><button id="1" onclick='myFunctionColumn(this.id, "ListLiteracydata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListLiteracydata" }, null)</td>
                </tr>
            </table>
            <div id="divChartContainer1"></div>

            <br>
        </form>
    }
    if (Model.ListReadingdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable1" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Reading</th></tr>
                     <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{ var temp="";
                        foreach (var itemdata in Model.ListReadingdata)
                        {
                            if (!temp.Equals(itemdata.stage))
                            {
                                <tr>
                                    <td colspan="17">@itemdata.stage</td>
                                    <td align="center"><input type='checkbox' name='CheckDataitem2' value="@itemdata.stage" checked="checked" /></td>
                                </tr>
                                temp = itemdata.stage;
                            }

                            if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                            {
                                foreach (var selection in Model.ListSelectedGender)
                                {
                                    if (selection.Equals(itemdata.gender))
                                    {
                                        <tr>
                                            <td></td>
                                            <td align="center">@Model.DicGender[itemdata.gender]</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                            <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                            <td></td>
                                            @*<td align="center"><input type='checkbox' name='CheckDataitem2' value="@itemdata.stage" checked="checked" /></td>*@
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem2All' id='CheckDataitem2All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="2" onclick='myFunctionBar(this.id, "ListReadingdata")'><label>Bar Chart</label></button></td>
                    <td><button id="2" onclick='myFunctionColumn(this.id, "ListReadingdata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListReadingdata" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <div id="divChartContainer2"></div>

            <br>
        </form>
    }
    if (Model.ListWritingdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable2" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Writing</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{  var temp = "";
                      foreach (var itemdata in Model.ListWritingdata)
                      {
                          if (!temp.Equals(itemdata.stage))
                          {
                            <tr>
                                <td colspan="17">@itemdata.stage</td>
                                <td align="center"><input type='checkbox' name='CheckDataitem3' value="@itemdata.stage" checked="checked" /></td>
                            </tr>
                              temp = itemdata.stage;
                          }
                          if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                          {
                              foreach (var selection in Model.ListSelectedGender)
                              {
                                  if (selection.Equals(itemdata.gender))
                                  {
                                    <tr>
                                        <td></td>
                                        <td align="center">@Model.DicGender[itemdata.gender]</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                        <td></td>
                                        @*<td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>*@
                                    </tr>
                                  }
                              }
                          }
                      }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem3All' id='CheckDataitem3All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="3" onclick='myFunctionBar(this.id, "ListWritingdata")'><label>Bar Chart</label></button></td>
                    <td><button id="3" onclick='myFunctionColumn(this.id, "ListWritingdata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListWritingdata" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <div id="divChartContainer3"></div>

            <br>
        </form>
    }

    if (Model.ListLandTdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable3" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Listening and Talking</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{  var temp = "";
                      foreach (var itemdata in Model.ListLandTdata)
                      {
                          if (!temp.Equals(itemdata.stage))
                          {
                            <tr>
                                <td colspan="17">@itemdata.stage</td>
                                <td align="center"><input type='checkbox' name='CheckDataitem4' value="@itemdata.stage" checked="checked" /></td>
                            </tr>
                              temp = itemdata.stage;
                          }
                          if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                          {
                              foreach (var selection in Model.ListSelectedGender)
                              {
                                  if (selection.Equals(itemdata.gender))
                                  {
                                    <tr>
                                        <td></td>
                                        <td align="center">@Model.DicGender[itemdata.gender]</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                        <td></td>
                                        @*<td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>*@
                                    </tr>
                                  }
                              }
                          }
                      }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem4All' id='CheckDataitem4All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="4" onclick='myFunctionBar(this.id, "ListLandTdata")'><label>Bar Chart</label></button></td>
                    <td><button id="4" onclick='myFunctionColumn(this.id, "ListLandTdata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListLandTdata" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <div id="divChartContainer4"></div>

            <br>
        </form>
    }

    if (Model.ListNumeracydata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable4" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Numeracy</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{  var temp = "";
                      foreach (var itemdata in Model.ListNumeracydata)
                      {
                          if (!temp.Equals(itemdata.stage))
                          {
                            <tr>
                                <td colspan="17">@itemdata.stage</td>
                                <td align="center"><input type='checkbox' name='CheckDataitem5' value="@itemdata.stage" checked="checked" /></td>
                            </tr>
                              temp = itemdata.stage;
                          }
                          if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                          {
                              foreach (var selection in Model.ListSelectedGender)
                              {
                                  if (selection.Equals(itemdata.gender))
                                  {
                                    <tr>
                                        <td></td>
                                        <td align="center">@Model.DicGender[itemdata.gender]</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                        <td></td>
                                        @*<td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>*@
                                    </tr>
                                  }
                              }
                          }
                      }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem5All' id='CheckDataitem5All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="5" onclick='myFunctionBar(this.id, "ListNumeracydata")'><label>Bar Chart</label></button></td>
                    <td><button id="5" onclick='myFunctionColumn(this.id, "ListNumeracydata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListNumeracydata" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>

            <div id="divChartContainer5"></div>

            <br>
        </form>
    }

    if (Model.ListNMMdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable5" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Number, Money & Measure</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{  var temp = "";
                      foreach (var itemdata in Model.ListNMMdata)
                      {
                          if (!temp.Equals(itemdata.stage))
                          {
                            <tr>
                                <td colspan="17">@itemdata.stage</td>
                                <td align="center"><input type='checkbox' name='CheckDataitem6' value="@itemdata.stage" checked="checked" /></td>
                            </tr>
                              temp = itemdata.stage;
                          }
                          if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                          {
                              foreach (var selection in Model.ListSelectedGender)
                              {
                                  if (selection.Equals(itemdata.gender))
                                  {
                                    <tr>
                                        <td></td>
                                        <td align="center">@Model.DicGender[itemdata.gender]</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                        <td></td>
                                        @*<td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>*@
                                    </tr>
                                  }
                              }
                          }
                      }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem6All' id='CheckDataitem6All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="6" onclick='myFunctionBar(this.id, "ListNMMdata")'><label>Bar Chart</label></button></td>
                    <td><button id="6" onclick='myFunctionColumn(this.id, "ListNMMdata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListNMMdata" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <div id="divChartContainer6"></div>

            <br>
        </form>
    }

    if (Model.ListSPMdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable6" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Shape, Position & Movement</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{  var temp = "";
                      foreach (var itemdata in Model.ListSPMdata)
                      {
                          if (!temp.Equals(itemdata.stage))
                          {
                            <tr>
                                <td colspan="17">@itemdata.stage</td>
                                <td align="center"><input type='checkbox' name='CheckDataitem7' value="@itemdata.stage" checked="checked" /></td>
                            </tr>
                              temp = itemdata.stage;
                          }
                          if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                          {
                              foreach (var selection in Model.ListSelectedGender)
                              {
                                  if (selection.Equals(itemdata.gender))
                                  {
                                    <tr>
                                        <td></td>
                                        <td align="center">@Model.DicGender[itemdata.gender]</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                        <td></td>
                                        @*<td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>*@
                                    </tr>
                                  }
                              }
                          }
                      }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem7All' id='CheckDataitem7All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="7" onclick='myFunctionBar(this.id, "ListSPMdata")'><label>Bar Chart</label></button></td>
                    <td><button id="7" onclick='myFunctionColumn(this.id, "ListSPMdata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListSPMdata" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <div id="divChartContainer7"></div>

            <br>
        </form>
    }

    if (Model.ListIHdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable7" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Information Handling</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @{  var temp = "";
                      foreach (var itemdata in Model.ListIHdata)
                      {
                          if (!temp.Equals(itemdata.stage))
                          {
                            <tr>
                                <td colspan="17">@itemdata.stage</td>
                                <td align="center"><input type='checkbox' name='CheckDataitem8' value="@itemdata.stage" checked="checked" /></td>
                            </tr>
                              temp = itemdata.stage;
                          }
                          if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                          {
                              foreach (var selection in Model.ListSelectedGender)
                              {
                                  if (selection.Equals(itemdata.gender))
                                  {
                                    <tr>
                                        <td></td>
                                        <td align="center">@Model.DicGender[itemdata.gender]</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td align="center">@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                        <td></td>
                                        @*<td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>*@
                                    </tr>
                                  }
                              }
                          }
                      }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitem8All' id='CheckDataitem8All' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="8" onclick='myFunctionBar(this.id,"ListIHdata")'><label>Bar Chart</label></button></td>
                    <td><button id="8" onclick='myFunctionColumn(this.id, "ListIHdata")'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "Curriculum", new { Area = "SchoolProfile", dataname = "ListIHdata" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <div id="divChartContainer8"></div>

            <br>
        </form>
    }

}
