@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.Curriculum.CurriculumViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/Curriculum/Curriculum.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>@Model.selectedschoolname</h2>

<h2>Curriculum for Excellence - Primary School (%pupils)</h2>
@if (Model.IsShowCriteria)
{
    using (Html.BeginForm("Index", "Curriculum", new { area = "SchoolProfile" }))
    {
        <table>
            <tr>
                <th colspan="2">Please select Criteria</th>
            </tr>
            <tr>
                <td colspan="2">Select school name </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.DropDownListFor(x => x.selectedschoolname, new SelectList(Model.ListSchoolNameData), "---Please Select School---")</td>
                @*<td>@Html.DropDownList("selectSchoolname", new SelectList(Model.ListSchoolNameData, "----Select------"))</td>*@
            </tr>
            <tr>
                <td colspan="2">Select Gender </td>
            </tr>

            @*@foreach (var itemGender in Model.ListGenderCode)
                {
                    if (Model.DicGender.ContainsKey(itemGender))
                    {
                        <tr>
                            <td></td>
                            <td>
                                <input type="checkbox" name="gender" value="@itemGender"
                                       checked="checked" /> @Model.DicGender[itemGender]
                                </td>
                            </tr>
                    }
                }*@
            @foreach (var itemGender in Model.ListGenderCode)
            {
                if (Model.DicGenderWithSelected.ContainsKey(itemGender))
                {
                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" name="gender" value="@itemGender"
                                   @Model.DicGenderWithSelected[itemGender][1] /> @Model.DicGenderWithSelected[itemGender][0]
                            </td>
                        </tr>
                }
            }            
            @{
                var check = "";
                if (Model.ListSelectedGender != null)
                {
                    if (Model.ListSelectedGender.Count == 3)
                    {
                        check = "checked";
                    }

                }
                else
                {
                    check = "checked";
                }
            }
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckGenderAll"
                           value="ALL" id="CheckGenderAll" @check />CheckALL
                </td>

            </tr>
            <tr>
                <td colspan="2">Select Subjects </td>
            </tr>
            @{
                foreach (var itemSubject in Model.ListSubjects)
                {
                    check = "";
                    if (Model.ListSelectedSubject != null)
                    {
                        if (Model.ListSelectedSubject.Contains(itemSubject))
                        {
                            check = "checked";
                        }

                    }
                    else
                    {
                        check = "checked";
                    }

                    <tr>
                        <td></td>
                        <td>
                            <input type="checkbox" name="subject" value="@itemSubject"
                                   @check/> @itemSubject
                            </td>
                        </tr>
                }
            }
            @*@foreach (var itemStage in Model.ListStageCode)
            {
                <tr>
                    <td></td>
                    <td>
                        <input type="checkbox" name="stages" value="@itemStage"
                               checked="checked" /> @itemStage
                        </td>
                    </tr>
            }*@

            @{
                check = "";
                if (Model.ListSelectedSubject != null)
                {
                    if (Model.ListSelectedSubject.Count == 8)
                    {
                        check = "checked";
                    }

                }
                else
                {
                    check = "checked";
                }
            }


           <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckSubjectAll"
                           value="ALL" id="CheckSubjectAll" @check />CheckALL
                </td>

            </tr>
            <tr>
                <td>
                    <button id="buttonGetData" type="submit">
                        Get Data
                    </button>
                </td>
            </tr>


        </table>
    }
}
@if (Model.IsShowData)
{
    if (Model.ListLiteracydata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Literacy</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListLiteracydata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>
                                        <td align="center"><input type='checkbox' name='CheckDataitem1' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }                
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="1" onclick='myFunctionBar(this.id, "ListLiteracydata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }
    if (Model.ListReadingdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable1" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Reading</th></tr>
                     <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListReadingdata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>

                                        <td align="center"><input type='checkbox' name='CheckDataitem2' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="2" onclick='myFunctionBar(this.id, "ListReadingdata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable1').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }
    if (Model.ListWritingdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable2" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Writing</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListWritingdata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>

                                        <td align="center"><input type='checkbox' name='CheckDataitem3' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="3" onclick='myFunctionBar(this.id, "ListWritingdata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable2').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }

    if (Model.ListLandTdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable3" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">L and T</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListLandTdata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>

                                        <td align="center"><input type='checkbox' name='CheckDataitem4' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="4" onclick='myFunctionBar(this.id, "ListLandTdata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable3').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }

    if (Model.ListNumeracydata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable4" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">Numeracy</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListNumeracydata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>

                                        <td align="center"><input type='checkbox' name='CheckDataitem5' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="5" onclick='myFunctionBar(this.id, "ListNumeracydata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable4').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }

    if (Model.ListNMMdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable5" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">NMM</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListNMMdata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>

                                        <td align="center"><input type='checkbox' name='CheckDataitem6' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="6" onclick='myFunctionBar(this.id, "ListNMMdata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable5').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }

    if (Model.ListSPMdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable6" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">SPM</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListSPMdata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>

                                        <td align="center"><input type='checkbox' name='CheckDataitem7' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="7" onclick='myFunctionBar(this.id, "ListSPMdata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable6').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }

    if (Model.ListIHdata != null)
    {
        <br />
        <form id="StdStageData">
            <table id="datatable7" class="display">
                <thead>
                    <tr><th colspan="18">@Model.selectedschoolname</th></tr>
                    <tr><th colspan="18">IH</th></tr>
                    <tr>
                        <th>Stage</th>
                        <th>Gender</th>
                        @foreach (var selection in Model.ListSkills)
                        {
                            <th>@selection</th>
                        }
                        <th>Select data </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemdata in Model.ListIHdata)
                    {
                        if (Model.ListSelectedGender != null && Model.ListSelectedGender.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedGender)
                            {
                                if (selection.Equals(itemdata.gender))
                                {
                                    <tr>
                                        <td>@itemdata.stage</td>
                                        <td>@Model.DicGender[itemdata.gender]</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.early)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlydeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlyconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.earlysecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstdeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.firstsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.seconddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.secondsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirddeveloping)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdconsolidating)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.thirdsecure)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.blank)</td>
                                        <td>@String.Format("{0:#,0.00}", @itemdata.grandtotal)</td>

                                        <td align="center"><input type='checkbox' name='CheckDataitem8' value="@itemdata.stage" checked="checked" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
                <tr>
                    @*@{var colspan = (@Model.ListSelectedGender.Count * 2) + 1;}*@
                    <td colspan="17"></td>
                    <td align="center"><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
                </tr>
                <tr>
                    <td><button id="8" onclick='myFunctionBar(this.id,"ListIHdata")'><label>Bar Chart</label></button></td>
                    <td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td>
                    <td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td>
                </tr>
                @*<tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
                    <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "StudentStage", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>*@
            </table>
            <script type="text/javascript">
                // Put your javascript code here
                $('#datatable7').DataTable({
                    paging: false
                });
            </script>

            <div id="divChartContainer"></div>

            <br>
        </form>
    }

}
